    <footer>
        <div class="wrapper">
            <p>Copyright © 2022-2023 pietrodicaprio (Pietro di Caprio). All right reserved. </p>
            <p>This website uses cookies for anonymous traffic analytics.
                <a href="/privacy">Privacy Policy</a>.</p>
            <p>
                <a href="https://www.linkedin.com/in/pietro-di-caprio/" target="_blank">Linkedin</a> .
                <a href="https://www.github.com/pietrodicaprio" target="_blank">GitHub</a> .
                <a href="https://twitter.com/pietrodc0" target="_blank">Twitter</a>
            </p>
            <p>Hosted by <a href="https://github.com/pietrodicaprio/pietrodicaprio.github.io" title="GitHub Pages">GitHub Pages</a></p>
            <script src="/assets/js/scripts.js"></script>
        </div>
    </footer>

<script type='text/javascript'>
    //some default pre init
    var Countly = Countly || {};
    Countly.q = Countly.q || [];

    //provide countly initialization parameters
    Countly.app_key = '639db0fba2e10b0414c0bc73';
    Countly.url = 'https://analytics.fabricators.ltd';

    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);

    //load countly script asynchronously
    (function() {
        var cly = document.createElement('script'); cly.type = 'text/javascript';
        cly.async = true;
        //enter url of script here
        cly.src = 'https://analytics.fabricators.ltd/sdk/web/countly.min.js';
        cly.onload = function(){Countly.init()};
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
    })();
</script>

        
