---
layout: default
---
<h1>Ciao, sono Pietro</h1>
<article>
    <p>I am an Italian software engineer. Born in '95, I made my passion my job: writing random Engl-ish words 
        on a keyboard so magic things happen: that's software development.
    </p>

    <p>I always liked to understand how things work. When I was 5 I disassembled a console to see what was 
        responsible for the fascinating images shown on the screen and to answer to the gun I was using to 
        shoot the ducks (if you know what I'm talking about, you're old 😄).
    </p>

    <p>Since few years I'm involved in the Free and Open Source Software world. My main project is currently Vanilla OS - 
        your next operating system! <img height="24px" src="https://vanillaos.org/assets/images/brand/vanillaos-logo-icon.svg" />
    </p>
</article>