---
layout: default
---
<h1>Ciao, sono Pietro</h1>
<article class="reveal">
    <p>Placeholder...</p>
    <p>Placeholder...</p>
    <p>Placeholder...</p>
    <p>Placeholder...</p>
    <p>Placeholder...</p>
    <p>Placeholder...</p>
    <div class="expand">
        <button class="button primary">
            Espandi <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
    </div>
</article>

<hr />

<h2>Alcuni progetti</h2>
<section class="cards">
    <div class="card">
        <h3>Vanilla OS</h3>
        <p>Taste the GNOME Vanilla experience on Ubuntu with some spice..</p>
        <a class="button link" href="https://vanillaos.org">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
    <div class="card">
        <h3>Bottles</h3>
        <p>Easily run Windows software on Linux using WINE environments!</p>
        <a class="button link" href="https://usebottles.com/">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
    <div class="card">
        <h3>unified/ban</h3>
        <p>Keep your users safe and manage your group with the most advanced, comprehensive and free solution.</p>
        <a class="button link" href="https://unifiedban.solutions/">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
</section>
</div>
